body{
font-family: Arial;
margin:0;
background:#111;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:black;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.banner{
text-align:center;
padding:40px;
background:#222;
}

.movies{
padding:20px;
}

.movie-container{
display:flex;
gap:20px;
}

.movie-card{
background:#1a1a1a;
padding:10px;
border-radius:10px;
text-align:center;
}

.movie-card img{
width:200px;
border-radius:10px;
}

button{
background:red;
color:white;
border:none;
padding:10px;
margin-top:10px;
cursor:pointer;
}

.detail-film{
padding:40px;
}

.film-container{
display:flex;
gap:30px;
align-items:center;
}

.poster{
width:250px;
border-radius:10px;
}

.film-info{
max-width:500px;
}

.movie-card img{
width:200px;
height:300px;
object-fit:cover;
border-radius:10px;
}

.jadwal{
text-align:center;
padding:40px;
}

.jadwal-container{
margin-top:20px;
}

.jadwal-btn{
background:red;
color:white;
border:none;
padding:15px 25px;
margin:10px;
font-size:16px;
border-radius:8px;
cursor:pointer;
}

.jadwal-btn:hover{
background:darkred;
}

.seat-section{
text-align:center;
padding:40px;
}

.screen{
background:white;
height:30px;
width:300px;
margin:20px auto;
border-radius:5px;
}

.row{
display:flex;
justify-content:center;
}

.seat{
width:30px;
height:30px;
background:gray;
margin:5px;
border-radius:5px;
cursor:pointer;
}

.seat.selected{
background:green;
}

.seat.occupied{
background:red;
cursor:not-allowed;
}

.screen{
width:300px;
margin:auto;
padding:10px;
background:black;
color:white;
text-align:center;
margin-bottom:20px;
}

.seats{
text-align:center;
}

.row{
margin:10px;
}

.seat{
width:40px;
height:40px;
margin:5px;
background:#666;
border:none;
border-radius:5px;
cursor:pointer;
color:white;
}

.seat:hover{
background:#999;
}

.seat.selected{
background:green;
}
